@import 'theme_color';
@import 'fonts';
@import 'mixin';
@import 'responsive';

/* [Master Stylesheet v1.0] */


/* :: 1.0 Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:300,400,500,600,700');

/* :: 2.0 Import All CSS */

@import 'css/bootstrap.min.css';
@import 'css/owl.carousel.min.css';
@import 'css/animate.css';
@import 'css/magnific-popup.css';
@import 'css/font-awesome.min.css';
@import 'css/classy-nav.min.css';

/* :: 3.0 Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $opensans-font;
    font-size: 14px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    line-height: 1.3;
    font-weight: 700;
}

p {
    font-family: $raleway-font;
    color: $text-color;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
}

a,
a:hover,
a:focus {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
    color: $heading-color;
    font-weight: 600;
    font-size: 14px;
}

ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}


/* Spacing */

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}


/* Height */

.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}


/* Section Padding */

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}


/* Preloader */

#preloader {
    background-color: $bg-gray;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    @include display-flex(flex);
    @include align-items(center);
    @include justify-content(center);
    .spinner {
        width: 40px;
        height: 40px;
        background-color: $bg-default;
        margin: auto;
        @include animation(sk-rotateplane 1.2s infinite ease-in-out);
    }
    @-webkit-keyframes sk-rotateplane {
        0% {
            @include transform(perspective(120px));
        }
        50% {
            @include transform(perspective(120px) rotateY(180deg));
        }
        100% {
            @include transform(perspective(120px) rotateY(180deg) rotateX(180deg));
        }
    }
    @keyframes sk-rotateplane {
        0% {
            @include transform(perspective(120px));
        }
        50% {
            @include transform(perspective(120px) rotateY(180deg));
        }
        100% {
            @include transform(perspective(120px) rotateY(180deg) rotateX(180deg));
        }
    }
}


/* Section Heading */

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
    text-align: center;
    h3 {
        font-size: 30px;
        margin-bottom: 0;
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }
    &.text-left {
        text-align: left !important;
    }
    &.white {
        h3 {
            color: $white-color;
        }
    }
}


/* Miscellaneous */

.bg-animated {
    width: 100%;
    @include animation(bgAnimated 24s linear infinite);
    background-attachment: fixed;
}

@-webkit-keyframes bgAnimated {
    0% {
        background-position: center center;
    }
    50% {
        background-position: left left;
    }
    100% {
        background-position: center center;
    }
}

@keyframes bgAnimated {
    0% {
        background-position: center center;
    }
    50% {
        background-position: left left;
    }
    100% {
        background-position: center center;
    }
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-overlay,
.foo-bg-overlay,
.bg-overlay-2by5 {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    &::after {
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}

.foo-bg-overlay {
    &::after {
        background-color: rgba(0, 0, 0, 0.91);
    }
}

.bg-overlay-2by5 {
    &::after {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: $white-color;
    right: 0;
    padding-right: 0;
    width: 30px;
    height: 30px;
    background-color: $bg-default;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    right: -30px;
    @media #{$breakpoint-md} {
        right: 0;
    }
    @media #{$breakpoint-xs} {
        right: 0;
    }
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}


/* ScrollUp */

#scrollUp {
    background-color: $bg-default;
    border-radius: 0;
    bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: $white-color;
    font-size: 24px;
    height: 40px;
    line-height: 38px;
    right: 60px;
    text-align: center;
    width: 40px;
    border-radius: 6px;
    @include trans-duration(500ms);
    &:hover {
        background-color: $hover-color;
    }
    @media #{$breakpoint-xs} {
        bottom: 30px;
        right: 30px;
    }
}


/* Button */

.clever-btn {
    display: inline-block;
    min-width: 160px;
    height: 40px;
    background-color: $bg-default;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: $white-color;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 0 30px;
    line-height: 40px;
    text-align: center;
    @include trans-duration(300ms);
    &.active,
    &:hover,
    &:focus {
        font-size: 14px;
        font-weight: 600;
        color: $white-color;
        background-color: $hover-color;
    }
    &.btn-2 {
        background-color: transparent;
        border: 1px solid $border-color;
        color: rgba(0, 0, 0, 0.25);
        &:hover,
        &:focus {
            color: $white-color;
            background-color: $hover-color;
            border: 1px solid $hover-color;
        }
    }
}


/* :: 4.0 Header Area */

.header-area {
    position: relative;
    z-index: 200;
}

.top-header-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 40px;
    background-color: $bg-gray;
    border-bottom: 1px solid $border-color;
    .contact-info {
        position: relative;
        z-index: 1;
        a {
            display: inline-block;
            height: 40px;
            padding: 0 30px;
            line-height: 40px;
            color: rgba(0, 0, 0, 0.3);
            font-size: 12px;
            border-right: 1px solid $border-color;
            span {
                text-transform: uppercase;
            }
            &:hover,
            &:focus {
                color: $dark-color;
            }
            @media #{$breakpoint-xs} {
                padding: 0 10px;
                font-size: 11px;
                &:last-child {
                    border-right: none;
                }
            }
        }
        @media #{$breakpoint-xs} {
            border-bottom: 1px solid $border-color;
            @include flex(0 0 100%);
            min-width: 100%;
            width: 100%;
        }
    }
    .follow-us {
        position: relative;
        z-index: 1;
        span {
            display: inline-block;
            height: 40px;
            padding: 0 20px;
            line-height: 40px;
            color: rgba(0, 0, 0, 0.3);
            font-size: 12px;
            text-transform: uppercase;
        }
        a {
            display: inline-block;
            height: 40px;
            padding: 0 20px;
            line-height: 40px;
            color: rgba(0, 0, 0, 0.3);
            font-size: 12px;
            border-left: 1px solid $border-color;
            span {
                text-transform: uppercase;
            }
            &:hover,
            &:focus {
                color: $dark-color;
            }
        }
        @media #{$breakpoint-xs} {
            margin-left: auto;
        }
    }
    @media #{$breakpoint-xs} {
        @include flex-wrap(wrap);
        height: auto;
    }
}

.clever-main-menu {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80px;
    .classy-navbar {
        height: 80px;
    }
    .classynav ul li a {
        color: rgba(0, 0, 0, 0.45);
        font-weight: 600;
        @media #{$breakpoint-lg} {
            padding: 0 8px;
        }
        &:hover,
        &:focus {
            color: $heading-color;
        }
    }
    .search-area {
        position: relative;
        z-index: 1;
        form {
            position: relative;
            z-index: 10;
            width: 230px;
            height: 40px;
            margin: 0 50px;
            @media #{$breakpoint-lg} {
                width: 170px;
                margin: 0 15px;
            }
            @media #{$breakpoint-md} {
                margin: 15px auto;
            }
            @media #{$breakpoint-xs} {
                margin: 15px auto;
            }
            input {
                width: 100%;
                height: 40px;
                border-radius: 6px;
                border: 1px solid $border-color;
                padding: 0 15px 0 50px;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.35);
                font-weight: 600;
                @include trans-duration(500ms);
                &:focus {
                    border: 1px solid rgba(0, 0, 0, 0.5);
                }
            }
            button {
                position: absolute;
                width: 50px;
                height: 40px;
                background-color: transparent;
                top: 0;
                left: 0;
                z-index: 10;
                border: none;
                text-align: center;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

.is-sticky {
    .clever-main-menu {
        z-index: 1500 !important;
        background-color: $white-color;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
}

.register-login-area {
    position: relative;
    z-index: 1;
    @media #{$breakpoint-md} {
        text-align: center;
    }
    @media #{$breakpoint-xs} {
        text-align: center;
    }
    a {
        position: relative;
        display: inline-block;
        padding: 0 20px;
        height: 40px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        color: $bg-default;
        line-height: 40px;
        &.active,
        &:hover,
        &:focus {
            background-color: #d7e0fc;
            font-weight: 600;
            color: $bg-default;
        }
        @media #{$breakpoint-lg} {
            padding: 0 15px;
        }
    }
}

.login-state {
    position: relative;
    z-index: 1;
    .user-name {
        .dropdown .dropdown-toggle {
            font-size: 14px;
            font-weight: 700;
            color: #000;
        }
        .dropdown-menu {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
            border: none;
            padding: 15px 0;
            .dropdown-item {
                padding: 5px 30px;
                font-size: 13px;
                font-weight: 600;
                &:hover,
                &:focus {
                    color: $bg-default;
                }
            }
        }
    }
    .userthumb {
        @include flex(0 0 40px);
        max-width: 40px;
        width: 40px;
        border-radius: 6px;
        img {
            border-radius: 6px;
        }
    }
    @media #{$breakpoint-md} {
        @include justify-content(center);
    }
    @media #{$breakpoint-xs} {
        @include justify-content(center);
    }
}


/* :: 5.0 Hero Area */

.hero-area {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    .hero-content {
        h2 {
            font-size: 40px;
            margin-bottom: 30px;
            font-weight: 700;
            color: $white-color;
        }
    }
}


/* :: 6.0 Cool Facts Area */

.single-cool-facts-area {
    position: relative;
    z-index: 1;
    padding: 30px;
    border: 1px solid $border-color;
    border-radius: 6px;
    img {
        display: block;
        margin: 0 auto 15px;
    }
    h2 {
        font-size: 36px;
        margin-bottom: 5px;
        color: $bg-default;
    }
    h5 {
        margin-bottom: 0;
        font-size: 18px;
        color: $heading-color;
    }
}


/* :: 7.0 Courses Area */

.popular-courses-area {
    position: relative;
    z-index: 1;
    background-repeat: repeat;
}

.single-popular-course {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    background-color: $white-color;
    img {
        display: block;
        width: 100%;
        border-radius: 6px 6px 0 0;
    }
    .course-content {
        padding: 25px;
        h4 {
            margin-bottom: 5px;
        }
        .meta {
            margin-bottom: 15px;
            span {
                color: rgba(0, 0, 0, 0.4);
                font-size: 5px;
                margin-right: 10px;
            }
            a {
                color: rgba(0, 0, 0, 0.4);
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                margin-right: 10px;
                &:hover {
                    color: #000;
                }
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    .seat-rating-fee {
        width: 100%;
        height: 40px;
        background-color: $bg-gray;
        border-radius: 0 0 6px 6px;
        .seat-rating {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.3);
            font-weight: 600;
            height: 100%;
            div {
                padding: 0 20px;
                border-right: 1px solid $border-color;
                height: 100%;
                line-height: 40px;
            }
            i {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.3);
            }
        }
        .course-fee {
            a {
                display: inline-block;
                width: 101px;
                height: 46px;
                border-radius: 10px 10px 10px 10px;
                background-color: #e3d21b;
                text-align: center;
                line-height: 40px;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: #ffffff;
                letter-spacing: 0.75px;
            }
        }
    }
}


}
.single-course-intro {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 500px;
    .single-course-intro-content {
        width: 425px;
        height: auto;
        padding: 30px;
        background-color: $white-color;
        border-radius: 6px;
        @media #{$breakpoint-xs} {
            width: 280px;
        }
        .ratings {
            margin-bottom: 20px;
            i {
                color: #e3d21b;
                font-size: 13px;
                padding: 0 3px;
                display: inline-block;
            }
        }
        h3 {
            font-size: 30px;
            margin-bottom: 10px;
            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
        .meta {
            margin-bottom: 30px;
            span {
                color: rgba(0, 0, 0, 0.4);
                font-size: 5px;
                margin-right: 10px;
            }
            a {
                color: rgba(0, 0, 0, 0.4);
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                margin-right: 10px;
                &:hover {
                    color: #000;
                }
            }
        }
        .price {
            font-size: 12px;
            text-transform: uppercase;
            color: $bg-default;
            letter-spacing: 0.75px;
            font-weight: 700;
        }
    }
}
.course--content {
    position: relative;
    z-index: 1;
}
.clever-tabs-content {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    .nav-tabs {
        margin-bottom: 20px;
        border-bottom: none;
        .nav-item {
            .nav-link {
                display: inline-block;
                height: 40px;
                background-color: transparent;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.25);
                border: 1px solid $border-color;
                border-radius: 6px;
                padding: 0 25px;
                line-height: 40px;
                @include trans-duration(800ms);
                text-align: center;
                margin-right: 10px;
                margin-bottom: 10px;
                &.active,
                &:hover,
                &:focus {
                    font-size: 14px;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.5);
                    background-color: $border-color;
                }
            }
            &:last-child {
                .nav-link {
                    margin-right: 0;
                }
            }
        }
    }
    
    .tab-content {
        position: relative;
        z-index: 1;
    }
}
.clever-description {
    position: relative;
    z-index: 1;
    .about-course {
        padding: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        h4 {
            margin-bottom: 20px;
            display: block;
        }
        p {
            font-size: 16px;
            line-height: 1.9;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media #{$breakpoint-xs} {
            padding: 30px;
        }
    }
    
    .all-instructors {
        padding: 40px 40px 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        @media #{$breakpoint-xs} {
            padding: 30px 30px 0;
        }
        h4 {
            margin-bottom: 25px;
            display: block;
        }
        .single-instructor {
            position: relative;
            z-index: 1;
            background-color: $bg-gray;
            border-radius: 6px;
            .instructor-thumb {
                @include flex(0 0 80px);
                width: 80px;
                max-width: 80px;
                height: 80px;
            }
            .instructor-info {
                padding-left: 25px;
                h5 {
                    font-size: 18px;
                    margin-bottom: 5px;
                    @media #{$breakpoint-xs} {
                        font-size: 14px;
                    }
                }
                span {
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.4);
                    font-size: 14px;
                }
            }
        }
    }
    
    .clever-faqs {
        padding: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        h4 {
            margin-bottom: 25px;
            display: block;
        }
        @media #{$breakpoint-xs} {
            padding: 30px;
        }
    }
}
.clever-curriculum {
    position: relative;
    z-index: 1;
    .about-curriculum {
        padding: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        h4 {
            margin-bottom: 20px;
            display: block;
        }
        p {
            font-size: 16px;
            line-height: 1.9;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media #{$breakpoint-xs} {
            padding: 30px;
        }
    }
    
    .curriculum-level {
        padding: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        h4 {
            margin-bottom: 20px;
            display: block;
        }
        h5 {
            color: rgba(0, 0, 0, 0.6);
            font-size: 18px;
        }
        .curriculum-list {
            li {
                display: block;
                margin-bottom: 10px;
                font-family: $raleway-font;
                font-size: 14px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.5);
                &:last-child {
                    margin-bottom: 0;
                }
                i {
                    color: #e3d21b;
                    margin-right: 5px;
                    display: inline-block;
                }
                ul {
                    display: block;
                    margin-top: 10px;
                    padding-left: 25px;
                    li {
                        margin-bottom: 0;
                        @include display-flex(flex);
                        @include justify-content-between;
                        padding: 10px 0;
                        border-bottom: 1px solid $border-color;
                        span {
                            span {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        @media #{$breakpoint-xs} {
            padding: 30px;
        }
    }
}
.clever-review {
    position: relative;
    z-index: 1;
    .about-review {
        padding: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        h4 {
            margin-bottom: 20px;
            display: block;
        }
        p {
            font-size: 16px;
            line-height: 1.9;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media #{$breakpoint-xs} {
            padding: 30px;
        }
    }
    
    .clever-ratings {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        @media #{$breakpoint-xs} {
            @include flex-wrap(wrap);
        }
        .total-ratings {
            @include flex(0 0 235px);
            min-width: 235px;
            width: 235px;
            border-right: 1px solid $border-color;
            height: 250px;
            @media #{$breakpoint-xs} {
                @include flex(0 0 100%);
                min-width: 100%;
                width: 100%;
                border-right: none;
                border-bottom: 1px solid $border-color;
            }
            h2 {
                font-size: 60px;
                margin-bottom: 5px;
            }
            .ratings-- {
                margin-bottom: 10px;
                i {
                    font-size: 18px;
                    display: inline-block;
                    padding: 0 5px;
                    color: #e3d21b;
                }
            }
            span {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.3);
            }
        }
        .rating-viewer {
            padding: 50px 40px 35px;
            @media #{$breakpoint-xs} {
                padding: 40px 30px 25px;
            }
            span {
                color: rgba(0, 0, 0, 0.3);
                font-size: 12px;
                text-transform: uppercase;
                padding-right: 15px;
                @media #{$breakpoint-lg} {
                    padding-right: 5px;
                    font-size: 11px;
                }
                @media #{$breakpoint-xs} {
                    padding-right: 5px;
                    font-size: 11px;
                }
            }
            .progress {
                width: 300px;
                margin-right: 15px;
                height: 10px;
                border-radius: 0;
                background-color: #f1f1f1;
                @media #{$breakpoint-lg} {
                    width: 200px;
                }
                @media #{$breakpoint-md} {
                    width: 140px;
                }
                @media #{$breakpoint-xs} {
                    width: 140px;
                }
                .progress-bar {
                    background-color: #b3b3b3;
                }
            }
        }
    }
    
    .single-review {
        padding: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        @media #{$breakpoint-xs} {
            padding: 30px;
        }
        p {
            margin-bottom: 0;
        }
        .review-admin {
            .thumb {
                @include flex(0 0 40px);
                max-width: 40px;
                width: 40px;
            }
            .text {
                padding-left: 15px;
                h6 {
                    font-size: 14px;
                    margin-bottom: 0px;
                }
                span {
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }
        .ratings {
            i {
                font-size: 14px;
                display: inline-block;
                padding: 0 3px;
                color: #e3d21b;
            }
        }
    }
}
.clever-members {
    position: relative;
    z-index: 1;
    .about-members {
        padding: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        @media #{$breakpoint-xs} {
            padding: 30px;
        }
        h4 {
            margin-bottom: 20px;
            display: block;
        }
        p {
            font-size: 16px;
            line-height: 1.9;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .all-instructors {
        padding: 40px 40px 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        @media #{$breakpoint-xs} {
            padding: 30px 30px 0;
        }
        h4 {
            margin-bottom: 25px;
            display: block;
        }
        .single-instructor {
            position: relative;
            z-index: 1;
            background-color: $bg-gray;
            border-radius: 6px;
            .instructor-thumb {
                @include flex(0 0 80px);
                width: 80px;
                max-width: 80px;
                height: 80px;
            }
            .instructor-info {
                padding-left: 25px;
                h5 {
                    font-size: 18px;
                    margin-bottom: 5px;
                    @media #{$breakpoint-xs} {
                        font-size: 14px;
                    }
                }
                span {
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.4);
                    font-size: 14px;
                }
            }
        }
    }
}
.instructors-video {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 400px;
    background-attachment: fixed !important;
    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        content: '';
        z-index: -1;
    }
    
    h2 {
        font-size: 100px;
        color: $bg-default;
        margin-bottom: 0;
        @media #{$breakpoint-lg} {
            font-size: 50px;
        }
        @media #{$breakpoint-md} {
            font-size: 42px;
        }
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }
    
    .video-btn {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.5);
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
        border-radius: 6px;
        text-align: center;
        i {
            line-height: 40px;
            font-size: 18px;
            color: $white-color;
        }
        &:hover {
            background-color: #fff;
            i {
                color: $bg-default;
            }
        }
    }
}
.single-instructor {
    position: relative;
    z-index: 1;
    background-color: $bg-gray;
    border-radius: 6px;
    .instructor-thumb {
        @include flex(0 0 80px);
        width: 80px;
        max-width: 80px;
        height: 80px;
    }
    
    .instructor-info {
        padding-left: 25px;
        h5 {
            font-size: 18px;
            margin-bottom: 5px;
            @media #{$breakpoint-xs} {
                font-size: 14px;
            }
        }
        span {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.4);
            font-size: 14px;
        }
    }
}
.sidebar-widget {
    position: relative;
    z-index: 1;
    padding: 35px 30px;
    border: 1px solid $border-color;
    border-bottom: none;
    &:last-child {
        border-bottom: 1px solid $border-color;
    }
    
    h4 {
        margin-bottom: 20px;
        font-size: 24px;
        display: block;
    }
    
    .features-list {
        li {
            @include display-flex(flex);
            @include justify-content-between;
            margin-bottom: 5px;
            h6 {
                color: rgba(0, 0, 0, 0.3);
                @media #{$breakpoint-xs} {
                    font-size: 14px;
                }
                i {
                    margin-right: 10px;
                }
            }
        }
    }
    
    .single--courses {
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        .thumb {
            @include flex(0 0 80px);
            width: 80px;
            max-width: 80px;
            height: 50px;
            border-radius: 6px;
            img {
                border-radius: 6px;
            }
        }
        .content {
            padding-left: 20px;
            h5 {
                font-size: 18px;
                margin-bottom: 5px;
                color: rgba(0, 0, 0, 0.35);
                @media #{$breakpoint-xs} {
                    font-size: 14px;
                }
            }
            h6 {
                font-size: 12px;
                color: #e3d21b;
                margin-bottom: 0;
            }
        }
    }
}
.single-accordion {
    &.panel {
        background-color: $white-color;
        border: 0 solid transparent;
        border-radius: 4px;
        box-shadow: 0 0 0 transparent;
        margin-bottom: 15px;
    }
    
    &:last-of-type {
        margin-bottom: 0;
    }
    
    h6 {
        margin-bottom: 0;
        text-transform: uppercase;
        a {
            border-radius: 6px;
            background-color: $bg-gray;
            color: $heading-color;
            display: block;
            margin: 0;
            padding: 15px 60px 15px 30px;
            position: relative;
            font-size: 14px;
            text-transform: capitalize;
            font-weight: 600;
            span {
                font-size: 10px;
                position: absolute;
                right: 20px;
                text-align: center;
                top: 17px;
                &.accor-open {
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    filter: alpha(opacity=0);
                }
            }
            &.collapsed {
                background-color: $bg-gray;
                color: $text-color;
                span {
                    &.accor-close {
                        opacity: 0;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                        filter: alpha(opacity=0);
                    }
                    &.accor-open {
                        opacity: 1;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                        filter: alpha(opacity=100);
                    }
                }
            }
        }
    }
    
    .accordion-content {
        border-top: 0 solid transparent;
        box-shadow: none;
        background-color: $bg-gray;
        border-radius: 0 0 6px 6px;
        p {
            padding: 15px 30px;
            margin-bottom: 0;
        }
    }
}

/* :: 8.0 Upcoming Events */
.single-upcoming-events {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    .events-thumb {
        display: block;
        width: 100%;
        border-radius: 6px 6px 0 0;
        position: relative;
        z-index: 1;
        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.31);
            content: '';
            z-index: 2;
        }
        img {
            width: 100%;
        }
        .event-title {
            position: absolute;
            top: 50%;
            color: $white-color;
            width: 100%;
            text-align: center;
            @include transform(translateY(-50%));
            margin-bottom: 0;
            z-index: 10;
        }
        .event-date {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 7%;
            color: $white-color;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.75px;
            z-index: 10;
        }
    }
    
    .date-fee {
        width: 100%;
        height: 40px;
        background-color: $bg-gray;
        border-radius: 0 0 6px 6px;
        .date {
            p {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.3);
                font-weight: 600;
                height: 100%;
                line-height: 40px;
                margin-bottom: 0;
                padding: 0 30px;
            }
        }
        .events-fee {
            a {
                display: inline-block;
                width: 70px;
                height: 40px;
                border-radius: 0 0 6px 0;
                background-color: #e3d21b;
                text-align: center;
                line-height: 40px;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: $white-color;
                letter-spacing: 0.75px;
                &.free {
                    background-color: $bg-default;
                }
            }
        }
    }
}

/* :: 9.0 Register Now */
.register-now {
    position: relative;
    z-index: 1;
    background-repeat: repeat;
    padding-left: 5%;
    padding-right: 5%;
    @media #{$breakpoint-xs} {
        @include flex-wrap(wrap);
    }
    
    &::after {
        background-color: rgba(214, 223, 251, 0.7);
        top: 0;
        left: 0;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    .register-contact-form {
        @include flex(0 0 45%);
        min-width: 45%;
        width: 45%;
        background-color: $white-color;
        padding: 40px;
        border-radius: 6px;
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            min-width: 100%;
            width: 100%;
            padding: 15px;
        }
        .forms {
            h4 {
                margin-bottom: 40px;
            }
            .form-control {
                width: 100%;
                border-radius: 6px;
                border: 1px solid $border-color;
                height: 40px;
                padding: 0 20px;
                color: rgba(0, 0, 0, 0.25);
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 20px;
                display: block;
            }
        }
    }
    
    .register-now-countdown {
        @include flex(0 0 45%);
        min-width: 45%;
        width: 45%;
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            min-width: 100%;
            width: 100%;
        }
        h3 {
            font-size: 30px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 0;
        }
        .register-countdown {
            display: block;
            margin-top: 50px;
        }
        .events-cd div {
            @include flex(0 0 110px);
            min-width: 110px;
            width: 110px;
            padding: 15px 0;
            text-align: center;
            border: 1px solid $white-color;
            border-radius: 6px;
            margin-right: 12px;
            font-size: 36px;
            font-weight: 700;
            color: $bg-default;
            span {
                margin-top: 0;
                color: rgba(255, 255, 255, 0.7);
                font-size: 18px;
                font-weight: 700;
                display: block;
            }
            @media #{$breakpoint-lg} {
                @include flex(0 0 80px);
                min-width: 80px;
                width: 80px;
                font-size: 24px;
                span {
                    font-size: 14px;
                }
            }
            @media #{$breakpoint-md} {
                @include flex(0 0 60px);
                min-width: 60px;
                width: 60px;
                font-size: 18px;
                span {
                    font-size: 12px;
                }
            }
            @media #{$breakpoint-xs} {
                @include flex(0 0 60px);
                min-width: 60px;
                width: 60px;
                font-size: 18px;
                span {
                    font-size: 12px;
                }
            }
        }
    }
}

/* :: 10.0 Best Tutors Area */
.single-tutors-slides {
    position: relative;
    z-index: 1;
    .tutor-thumbnail {
        width: 165px;
        height: 165px;
        background-color: #000;
        border-radius: 6px;
        margin: 0 auto 40px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
        img {
            border-radius: 6px;
            width: 100%;
        }
    }
    
    .tutor-information {
        display: none;
        position: relative;
        z-index: 1;
        padding: 20px 30px;
        background-color: $bg-gray;
        border-radius: 6px;
        &::after {
            position: absolute;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 15px solid $bg-gray;
            content: '';
            top: -14px;
            left: 49%;
        }
        h5 {
            font-size: 18px;
            margin-bottom: 5px;
        }
        span {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.4);
            margin-bottom: 20px;
            display: block;
        }
        p {
            margin-bottom: 30px;
        }
        .social-info {
            a {
                display: inline-block;
                padding: 0 10px;
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
    }
}
.center {
    .single-tutors-slides {
        .tutor-information {
            display: block;
        }
    }
}
.tutors-slide {
    .owl-prev,
    .owl-next {
        position: absolute;
        width: 40px;
        top: 62.5px;
        background-color: transparent;
        height: 40px;
        text-align: center;
        color: #cccccc;
        font-size: 30px;
        line-height: 36px;
        border-radius: 6px;
        left: 0;
        @include trans-duration(500ms);
        &:hover {
            background-color: $hover-color;
            color: $white-color;
        }
    }
    
    .owl-next {
        left: auto;
        right: 0;
    }
}

/* :: 11.0 Blog Area */
.blog-page {
    padding-left: 7%;
    padding-right: 7%;
}
.single-blog-area {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    img {
        display: block;
        width: 100%;
        border-radius: 6px 6px 0 0;
    }
    
    .blog-content {
        padding: 25px;
        .blog-headline {
            display: block;
            h4 {
                margin-bottom: 5px;
                margin-left: -1px;
                @include trans-duration(500ms);
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
        .meta {
            margin-bottom: 15px;
            span {
                color: rgba(0, 0, 0, 0.4);
                font-size: 5px;
                margin-right: 10px;
            }
            a {
                color: rgba(0, 0, 0, 0.4);
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                margin-right: 10px;
                @media #{$breakpoint-xs} {
                    font-size: 12px;
                }
                &:hover {
                    color: #000;
                }
            }
        }
        p {
            margin-bottom: 0;
        }
    }
}
.blog-catagories {
    position: relative;
    z-index: 1;
    .single-catagories {
        position: relative;
        z-index: 2;
        @include flex(0 0 165px);
        width: 165px;
        max-width: 165px;
        height: 100px;
        text-align: center;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: rgba(255, 255, 255, 0.9);
            top: 0;
            left: 0;
            content: '';
        }
        h6 {
            font-size: 14px;
            margin-bottom: 0;
            color: $bg-default;
            text-transform: uppercase;
            letter-spacing: 0.75px;
            line-height: 1.9;
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            width: 100%;
            text-align: center;
            @include trans-duration(500ms);
            &:hover,
            &:focus {
                color: $dark-color;
            }
        }
    }
}
.blog-details-text {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
    padding: 45px 40px;
    border-radius: 6px;
    @media #{$breakpoint-xs} {
        padding: 35px 30px;
    }
    
    p {
        font-size: 16px;
        line-height: 1.9;
    }
    
    h5 {
        font-family: $raleway-font;
        font-size: 18px;
        line-height: 1.9;
    }
    
    .post-tags {
        margin-top: 50px;
        position: relative;
        z-index: 1;
        ul {
            @include display-flex(flex);
            li a {
                display: inline-block;
                padding: 0 15px;
                border: 1px solid $border-color;
                line-height: 23px;
                height: 25px;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.2);
                background-color: $white-color;
                border-radius: 6px;
                margin-right: 10px;
                &:hover,
                &:focus {
                    border: 1px solid $bg-default;
                    background-color: $bg-default;
                    color: $white-color;
                }
                @media #{$breakpoint-xs} {
                    padding: 0 5px;
                }
            }
        }
    }
}
.related-posts {
    padding-left: 7%;
    padding-right: 7%;
}
.post-a-comments {
    position: relative;
    z-index: 1;
    h4 {
        text-align: center;
        margin-bottom: 25px;
        display: block;
        font-size: 24px;
    }
    
    form {
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
        padding: 35px 50px;
        border-radius: 6px;
        .form-control {
            width: 100%;
            border-radius: 6px;
            border: 1px solid $border-color;
            height: 40px;
            padding: 15px 20px;
            color: rgba(0, 0, 0, 0.25);
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 20px;
            display: block;
        }
        textarea,
        textarea.form-control {
            width: 100%;
            height: 130px;
        }
    }
}
.comments-area {
    position: relative;
    z-index: 1;
    h4 {
        text-align: center;
        margin-bottom: 25px;
        display: block;
        font-size: 24px;
    }
    
    .comments-list {
        border-radius: 6px;
        li {
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
            padding: 30px;
            margin-bottom: 30px;
            ol li {
                border-top: 1px solid $border-color;
                padding-top: 30px;
                box-shadow: none;
                margin-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
            }
        }
        .single-comment-wrap {
            p {
                margin-bottom: 0;
            }
            .comment-admin {
                .thumb {
                    @include flex(0 0 40px);
                    max-width: 40px;
                    width: 40px;
                    img {
                        border-radius: 6px;
                    }
                }
                .text {
                    padding-left: 15px;
                    h6 {
                        font-size: 14px;
                        margin-bottom: 0px;
                    }
                    span {
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.4);
                    }
                }
            }
            .reply {
                a {
                    display: inline-block;
                    font-weight: 600;
                    font-size: 14px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $bg-default;
                }
            }
        }
    }
}

/* :: 12.0 Breadcumb Area */
.breadcumb-area {
    position: relative;
    z-index: 1;
    .breadcrumb {
        padding: 11px 2rem;
        margin-bottom: 0;
        background-color: $bg-gray;
        border-radius: 0;
        height: 40px;
        @media #{$breakpoint-xs} {
            height: auto;
        }
        .breadcrumb-item {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.3);
            text-transform: uppercase;
            font-weight: 600;
            a {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.3);
                text-transform: uppercase;
                font-weight: 600;
                &:hover,
                &:focus {
                    color: #000;
                }
            }
        }
    }
}
.clever-catagory {
    width: 100%;
    height: 240px;
    position: relative;
    z-index: 2;
    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: '';
        background-color: rgba(215, 224, 252, 0.9);
        z-index: -1;
    }
    
    h3 {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0.75px;
        color: $bg-default;
        margin-bottom: 0;
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }
    
    &.blog-details {
        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: '';
            background-color: rgba(0, 0, 0, 0.4);
            z-index: -1;
        }
        h3 {
            color: $white-color;
            font-size: 40px;
            margin-bottom: 20px;
            display: block;
            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
        .meta {
            margin-bottom: 15px;
            span {
                color: $white-color;
                font-size: 5px;
                margin-right: 10px;
                font-weight: 600;
            }
            a {
                color: $white-color;
                display: inline-block;
                font-size: 16px;
                font-weight: 600;
                margin-right: 10px;
                @media #{$breakpoint-xs} {
                    font-size: 14px;
                }
                &:hover {
                    color: #000;
                }
            }
        }
    }
}

/* :: 13.0 Contact Area */
.contact--info {
    position: relative;
    z-index: 1;
    position: relative;
    z-index: 1;
    padding: 35px 30px;
    border: 1px solid $border-color;
    border-radius: 6px;
    @media #{$breakpoint-xs} {
        padding: 20px;
    }
    
    h4 {
        margin-bottom: 20px;
        font-size: 24px;
        display: block;
    }
    
    .contact-list {
        li {
            @include display-flex(flex);
            @include justify-content-between;
            margin-bottom: 5px;
            h6 {
                color: rgba(0, 0, 0, 0.3);
                @media #{$breakpoint-xs} {
                    font-size: 12px;
                }
                i {
                    margin-right: 10px;
                    @media #{$breakpoint-xs} {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
.contact-form {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
    padding: 35px 50px;
    border-radius: 6px;
    margin-top: -70px;
    background-color: $white-color;
    @media #{$breakpoint-md} {
        margin-bottom: 50px;
    }
    
    @media #{$breakpoint-xs} {
        margin-bottom: 50px;
        padding: 30px;
    }
    
    h4 {
        margin-bottom: 25px;
        display: block;
        font-size: 24px;
    }
    
    form {
        position: relative;
        z-index: 1;
        .form-control {
            width: 100%;
            border-radius: 6px;
            border: 1px solid $border-color;
            height: 40px;
            padding: 15px 20px;
            color: rgba(0, 0, 0, 0.25);
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 20px;
            display: block;
        }
        textarea,
        textarea.form-control {
            width: 100%;
            height: 130px;
        }
    }
}
#googleMap {
    width: 100%;
    height: 400px;
}

/* :: 14.0 Page Content */
.page-content {
    position: relative;
    z-index: 1;
    padding: 40px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.15);
    @media #{$breakpoint-xs} {
        padding: 30px;
    }
    
    h4 {
        margin-bottom: 15px;
    }
    
    p {
        font-size: 16px;
        line-height: 2;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

/* :: 15.0 Footer Area */
.top-footer-area {
    position: relative;
    z-index: 1;
    background-color: $footer-color;
    padding: 40px 0;
    text-align: center;
    border-bottom: 1px solid #4c4c4c;
    .footer-logo {
        display: block;
        margin-bottom: 15px;
    }
    
    p {
        margin-bottom: 0;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.2);
        font-family: $opensans-font;
        a {
            color: rgba(255, 255, 255, 0.2);
            font-size: 12px;
            font-family: $opensans-font;
            &:hover,
            &:focus {
                color: $white-color;
            }
        }
    }
}
.bottom-footer-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 40px;
    background-color: #1f1f1f;
    @media #{$breakpoint-xs} {
        @include flex-wrap(wrap);
        height: auto;
    }
    
    .contact-info {
        position: relative;
        z-index: 1;
        a {
            display: inline-block;
            height: 40px;
            padding: 0 30px;
            line-height: 40px;
            color: rgba(255, 255, 255, 0.2);
            font-size: 12px;
            border-right: 1px solid #4c4c4c;
            span {
                text-transform: uppercase;
            }
            &:hover,
            &:focus {
                color: $white-color;
            }
            @media #{$breakpoint-xs} {
                padding: 0 10px;
                font-size: 11px;
                &:last-child {
                    border-right: none;
                }
            }
        }
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
            margin-left: auto;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
    
    .follow-us {
        position: relative;
        z-index: 1;
        @media #{$breakpoint-xs} {
            margin-left: auto;
        }
        span {
            display: inline-block;
            height: 40px;
            padding: 0 20px;
            line-height: 40px;
            color: rgba(255, 255, 255, 0.2);
            font-size: 12px;
            text-transform: uppercase;
        }
        a {
            display: inline-block;
            height: 40px;
            padding: 0 20px;
            line-height: 40px;
            color: rgba(255, 255, 255, 0.2);
            font-size: 12px;
            border-left: 1px solid #4c4c4c;
            span {
                text-transform: uppercase;
            }
            &:hover,
            &:focus {
                color: $white-color;
            }
        }
    }
}
@media (min-width: 768px) .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}